
@{
    ViewBag.Title = "Informacion";
}

<h2>Informacion</h2>

<ol>
    <li>
        @ViewBag.anio
    </li>
    <li>
        @ViewBag.marca
    </li>
    <li>
        @ViewBag.modelo
    </li>
    <li>
        @ViewBag.fecha
    </li>
</ol>